.mainContainer {
    background: linear-gradient(#0003A3, #5D3192);
    min-height: 90vh;
    width: 100%;
}

.title {
    color: white;
    padding-top: 10vh;
    font-size: 5vh;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.card {
    background-color: #d9d9d9;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    height: 27vh;
    width: 47vh;
    margin: 50px;
    text-align: center;
    display: grid;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    font-size: 2.5vh;
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* .card:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
} */

.readMore {
    font-size: 2vh;
    animation: ease-in;
    color: rgb(67, 65, 65);
}

.popup {
    position: fixed;
    top: 15%;
    left:5%;
    margin: auto;
    width: 90%;
    height: 70vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}