.mainContainer {
    display: flex;
    color: white;
    background-color: #010231;
    position: fixed;
    height: 10vh;
    width: 100%;
    z-index: 100;
    display: none;
}

.brand {
    padding-left: 1.5vw;
    text-decoration: none;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    padding-top: 1vh;
    font-size: x-large;
}

.content {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
}

.link {
    text-decoration: none;
    color: white;
    margin-top: 2vh;
    padding-left: 4vw;
    font-weight: 600;
    font-size: x-large;
    text-align: center;
}

.link:hover {
    text-shadow: 1px 1px 2px yellow;
}

.mlhLogo {
    /* margin-right: 4px; */
    flex-grow: 1;
}

.mainVertical {
    background-color: #010231;
    color: white;
    padding-right: 2vw;
    z-index: 100;
    position: fixed;
}

.vertical {
    display: inline-block;
}

.menuButton {
    background-color: #010231;
    border: none;
    cursor: pointer;
    flex-grow: -1;
}

.dropDown {
    width: 100vw;
    height: 15vh;
    background-color: red;
    position: relative;
}