.mainContainer {
    background: linear-gradient(#5D3192, #183086);
    min-height: fit-content;
    height: 90vh;
    width: 100%;
}

.title {
    color: white;
    padding-top: 10vh;
    font-size: 5vh;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

.content {
    padding-top: 3vh;
}

.question {
    cursor: pointer;
    /* background: linear-gradient(#9a6ec6, #5d3192); */
    background-color: #fff;
    margin-bottom: 3vh;
    font-size: 2vh;
    margin-right: 15vw;
    margin-left: 15vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-weight: 600;
}

.answer {
    background-color: #C8F4FE;
    padding-bottom: 1vh;
    padding-top: 1.5vh;
}

.questionContent{
    display: flex;
    justify-content: center;
}

.dropImage {
    height: 2vh;
    margin-left: 50px;
}